.text {
  &-title {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
  }

  &-wrap {
    white-space: normal;
    word-break: break-word;
  }

  &-white {
    color: $app-text-white;
    &__bold {
      color: $app-color-white-bold;
    }
  }
}
