// sizes
$message-list-size: calc(85% - 3rem);
$message-item-height: 73px;

// colors
$app-color-white-bold: #FFFFFF;
$app-text-white: #fcfcfc;
$app-text-grey: #727274;
$app-black-background: rgba(0, 0, 0, .7);
$app-grey-background: #19181D;
$app-color-grey: #2b2a2f;
$app-input-grey: #232B33;
$app-color-grey-light: #3A4048;
$app-color-grey-dark: #242328;
$app-color-primary: #E10C16;

// ui
$app-chat-button: #ce2e26;
$app-chat-textarea: #18171c;

//grid
$gutter-horizontal: 1em;
$gutter-vertical: 1em;

